:host {
  display: flex;
  flex-direction: row;
  align-items: center;
}

:host(.spread) {
  justify-content: space-between;
  flex: 1;
}

:host(.fill) {
  align-items: stretch;
}

:host(.wrap) {
  flex-wrap: wrap;
}

:host(.top) {
  align-items: flex-start;
}

:host(.bottom) {
    align-items: flex-end;
}
